#### import Libraries and load data

In [4]:
import pandas as pd
from pathlib import Path

DATASETS_PATH = Path("../../../../datasets/")

In [5]:
df_imdb = pd.read_csv(Path(DATASETS_PATH / "IMDB_Movie_Filter.csv"))
df_imdb.head()

,movie_title,director_name,imdb_score,duration,genres
0,Avatar \t,James Cameron,7.9,178.0,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,Gore Verbinski,7.1,169.0,Action|Adventure|Fantasy
2,Spectre,Sam Mendes,6.8,148.0,Action|Adventure|Thriller
3,The Dark Knight Rises,Christopher Nolan,8.5,164.0,Action|Thriller
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,7.1,NaN,Documentary

#### print out columns

In [6]:
df_imdb.columns

Index(['movie_title', 'director_name', 'imdb_score', 'duration', 'genres'], dtype='object')

## Logical Operator

#### logical compare return a series of logical value

In [7]:
(df_imdb["director_name"] == "James Cameron").head()

0     True
1    False
2    False
3    False
4    False
Name: director_name, dtype: bool

#### find all 'james cameron' movies

In [8]:
df_imdb[df_imdb["director_name"] == "James Cameron"]

,movie_title,director_name,imdb_score,duration,genres
0,Avatar \t,James Cameron,7.9,178.0,Action|Adventure|Fantasy|Sci-Fi
26,Titanic,James Cameron,7.7,194.0,Drama|Romance
288,Terminator 2: Judgment Day,James Cameron,8.5,153.0,Action|Sci-Fi
291,True Lies,James Cameron,7.2,141.0,Action|Comedy|Thriller
606,The Abyss,James Cameron,7.6,171.0,Adventure|Drama|Sci-Fi|Thriller
2486,Aliens,James Cameron,8.4,154.0,Action|Adventure|Sci-Fi
3575,The Terminator,James Cameron,8.1,107.0,Action|Sci-Fi

#### Find movies with imdb_score > 9

In [9]:
df_imdb[df_imdb["imdb_score"] > 9]

,movie_title,director_name,imdb_score,duration,genres
1937,The Shawshank Redemption,Frank Darabont,9.3,142.0,Crime|Drama
2765,Towering Inferno,John Blanchard,9.5,65.0,Comedy
2824,Dekalog,NaN,9.1,55.0,Drama
3207,Dekalog,NaN,9.1,55.0,Drama
3466,The Godfather,Francis Ford Coppola,9.2,175.0,Crime|Drama
4409,Kickboxer: Vengeance,John Stockwell,9.1,90.0,Action

### filter with multiple logical condition
#### select movies with duration > 60 and duration < 90

In [10]:
df_imdb[(df_imdb["duration"] < 90) & (df_imdb["duration"] > 60)].head()

,movie_title,director_name,imdb_score,duration,genres
121,Madagascar: Escape 2 Africa,Eric Darnell,6.7,89.0,Action|Adventure|Animation|Comedy|Family
132,G-Force,Hoyt Yeatman,5.1,88.0,Action|Adventure|Animation|Comedy|Family|Fanta...
143,Mars Needs Moms,Simon Wells,5.4,88.0,Action|Adventure|Animation|Comedy|Family|Sci-Fi
144,Flushed Away,David Bowers,6.7,85.0,Adventure|Animation|Comedy|Family
152,Men in Black II,Barry Sonnenfeld,6.1,88.0,Action|Adventure|Comedy|Family|Fantasy|Mystery...

#### filter all 'Sci-Fi' genre  movies

In [11]:
df_imdb.genres.head()

0    Action|Adventure|Fantasy|Sci-Fi
1           Action|Adventure|Fantasy
2          Action|Adventure|Thriller
3                    Action|Thriller
4                        Documentary
Name: genres, dtype: object

In [12]:
def is_scifi(x):
    if "Sci-Fi" in x:
        return True
    else:
        return False


df_imdb.genres.apply(is_scifi).head()

0     True
1    False
2    False
3    False
4    False
Name: genres, dtype: bool

In [13]:
df_imdb[df_imdb.genres.apply(is_scifi)].head()

,movie_title,director_name,imdb_score,duration,genres
0,Avatar \t,James Cameron,7.9,178.0,Action|Adventure|Fantasy|Sci-Fi
5,John Carter,Andrew Stanton,6.6,132.0,Action|Adventure|Sci-Fi
8,Avengers: Age of Ultron,Joss Whedon,7.5,141.0,Action|Adventure|Sci-Fi
10,Batman v Superman: Dawn of Justice,Zack Snyder,6.9,183.0,Action|Adventure|Sci-Fi
11,Superman Returns,Bryan Singer,6.1,169.0,Action|Adventure|Sci-Fi

#### calculate total number of 'Sci-Fi' movies

In [14]:
df_imdb.genres.apply(is_scifi).sum()

616

In [15]:
len(df_imdb.genres.apply(is_scifi))

5043

In [16]:
len(df_imdb[df_imdb.genres.apply(is_scifi)])

616