#### Loading libraries & dataset

In [3]:
import pandas as pd
from pathlib import Path

DATASETS_PATH = Path("../../../../datasets/")

In [4]:
df_imdb = pd.read_csv(Path(DATASETS_PATH / "IMDB_Movie_Facebook_Like.csv"))
df_imdb

       director_name             movie_title  movie_facebook_likes
0  Christopher Nolan        The Dark Knight                  37000
1      James Cameron                 Avatar                  33000
2  Quentin Tarantino       Django Unchained                 199000
3  Christopher Nolan  The Dark Knight Rises                 164000
4  Quentin Tarantino   Inglourious Basterds                  42000
5      James Cameron                Titanic                  26000

### Find director with most social network facebook likes

#### groupby on column director_name

In [5]:
df_imdb.groupby("director_name")

#### apply the sum function

In [6]:
df_imdb.groupby("director_name").sum()

,movie_title,movie_facebook_likes
director_name,,
Christopher Nolan,The Dark Knight The Dark Knight Rises,201000
James Cameron,Avatar Titanic,59000
Quentin Tarantino,Django Unchained Inglourious Basterds,241000

#### sort follow facebook likes and find director with most social network facebook

In [7]:
df_imdb.groupby("director_name").sum().sort_values(by="movie_facebook_likes")

,movie_title,movie_facebook_likes
director_name,,
James Cameron,Avatar Titanic,59000
Christopher Nolan,The Dark Knight The Dark Knight Rises,201000
Quentin Tarantino,Django Unchained Inglourious Basterds,241000

In [8]:
df_imdb.groupby("director_name").sum().sort_values(
    by="movie_facebook_likes", ascending=False
)

,movie_title,movie_facebook_likes
director_name,,
Quentin Tarantino,Django Unchained Inglourious Basterds,241000
Christopher Nolan,The Dark Knight The Dark Knight Rises,201000
James Cameron,Avatar Titanic,59000