In [1]:
! which python

C:\Users\Amma\AppData\Local\pypoetry\Cache\virtualenvs\datasciencematerial-miMMxS0W-py3.11\Scripts\python.EXE

In [2]:
! where python

C:\Users\Amma\AppData\Local\pypoetry\Cache\virtualenvs\datasciencematerial-miMMxS0W-py3.11\Scripts\python.exe
C:\Python311\python.exe
C:\Users\Amma\AppData\Local\Microsoft\WindowsApps\python.exe

In [3]:
import pandas as pd

In [75]:
pd.__version__

'1.5.1'

In [4]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [5]:
pd.show_versions()

C:\Users\Amma\AppData\Local\pypoetry\Cache\virtualenvs\datasciencematerial-miMMxS0W-py3.11\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 91111fd99898d9dcaa6bf6bedb662db4108da6e6
python           : 3.11.2.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 12, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : English_India.1252

pandas           : 1.5.1
numpy            : 1.23.5
pytz             : 2022.5
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 22.3.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.6.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.6.0
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : 2022.11.0
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

In [6]:
pd.Series

pandas.core.series.Series

In [7]:
print(dir(pd.Series))

['T', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_convert', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'cat', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### Empty Pandas Series

In [8]:
s1 = pd.Series()

C:\Users\Amma\AppData\Local\Temp\ipykernel_25316\2249413805.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s1 = pd.Series()

In [9]:
s1

Series([], dtype: float64)

### Creating Pandas Series, from List

In [10]:
s2 = pd.Series([11, 22, 33, 44, 33, 22])

s2

0    11
1    22
2    33
3    44
4    33
5    22
dtype: int64

### Creating Pandas Series, from Dict

In [11]:
my_dict = {"a": 10, "b": 20, "c": 30}
s3 = pd.Series(my_dict)

s3

a    10
b    20
c    30
dtype: int64

### Creating Pandas Series, from Set

In [12]:
try:
    pd.Series({11, 22, 33, 44, 33, 22})
except TypeError as ex:
    print(ex)

'set' type is unordered

### Creating Pandas Series, from tuple

In [13]:
s2 = pd.Series((11, 22, 33, 44, 33, 22))

s2

0    11
1    22
2    33
3    44
4    33
5    22
dtype: int64

### Pandas Series Operations

In [14]:
s2.index  # To get index of Series

RangeIndex(start=0, stop=6, step=1)

In [15]:
s2.values  # to get values

array([11, 22, 33, 44, 33, 22], dtype=int64)

#### Indexing

In [22]:
list(s2.items())

[(0, 11), (1, 22), (2, 33), (3, 44), (4, 33), (5, 22)]

In [21]:
s2.keys()

RangeIndex(start=0, stop=6, step=1)

In [16]:
print(
    f"""
    {s2[0]    =}
    {s2[3]    =}
"""
)

    s2[0]    =11
    s2[3]    =44

In [17]:
try:
    s2[-1]
except (ValueError, KeyError) as ex:
    print(ex)
    print("Negatives indices were not supported")

-1
Negatives indices were not supported

In [18]:
# Accessing Multiple Values
s2[[0, 2, 4]]

0    11
2    33
4    33
dtype: int64

In [23]:
s2.first_valid_index()

0

In [24]:
s2.last_valid_index()

5

#### Slicing

In [19]:
s2[:4]

0    11
1    22
2    33
3    44
dtype: int64

In [64]:
s2[::-1]

5    22
4    33
3    44
2    33
1    22
0    11
dtype: int64

In [20]:
s2

0    11
1    22
2    33
3    44
4    33
5    22
dtype: int64

#### Filtering a series

In [72]:
s2[s2 % 2 == 0]

1    22
3    44
5    22
dtype: int64

In [73]:
s2[s2 > 30]

2    33
3    44
4    33
dtype: int64

#### Statistics operations

In [25]:
print(
    f""" 
    {s2.max()          =}
    {s2.mean()         =}
    {s2.median()       =}
    {s2.min()          =}

    {s2.memory_usage() =}
    {s2.nbytes         =}
    
    {s2.ndim           =}
"""
)

    s2.max()          =44
    s2.mean()         =27.5
    s2.median()       =27.5
    s2.min()          =11

    s2.memory_usage() =180
    s2.nbytes         =48

    s2.ndim           =1

In [26]:
s2.mode()

0    22
1    33
dtype: int64

In [27]:
# mad - mean absolute deviation of the values
s2.mad() == (s2 - s2.mean()).abs().mean()

C:\Users\Amma\AppData\Local\Temp\ipykernel_25316\2275792926.py:1: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  s2.mad() == (s2 - s2.mean()).abs().mean()

True

In [28]:
s2.nlargest()

3    44
2    33
4    33
1    22
5    22
dtype: int64

In [29]:
for each in s2.nlargest():
    print(each)

44
33
33
22
22

In [30]:
s2.nsmallest()

0    11
1    22
5    22
2    33
4    33
dtype: int64

In [31]:
s2.nunique()

4

In [34]:
s2.to_list()

[11, 22, 33, 44, 33, 22]

In [35]:
s2.to_dict()

{0: 11, 1: 22, 2: 33, 3: 44, 4: 33, 5: 22}

In [36]:
s2.to_json()

'{"0":11,"1":22,"2":33,"3":44,"4":33,"5":22}'

In [37]:
s2.to_string()

'0    11\n1    22\n2    33\n3    44\n4    33\n5    22'

In [39]:
s2.to_frame()

    0
0  11
1  22
2  33
3  44
4  33
5  22

In [40]:
s2.to_pickle("outputs/s2_series.pkl")

In [32]:
s2.to_csv("outputs/s2_series.csv")

In [ ]:
s2.to_json("outputs/s2_series.json")

In [66]:
s2.to_clipboard()

# ctrl + v

	0
0	11
1	22
2	33
3	44
4	33
5	22

In [38]:
s2.to_latex()

C:\Users\Amma\AppData\Local\Temp\ipykernel_25316\2598588326.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  s2.to_latex()

'\\begin{tabular}{lr}\n\\toprule\n{} &   0 \\\\\n\\midrule\n0 &  11 \\\\\n1 &  22 \\\\\n2 &  33 \\\\\n3 &  44 \\\\\n4 &  33 \\\\\n5 &  22 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [70]:
! pip install -U tabulate


s2.to_markdown()

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

'|    |   0 |\n|---:|----:|\n|  0 |  11 |\n|  1 |  22 |\n|  2 |  33 |\n|  3 |  44 |\n|  4 |  33 |\n|  5 |  22 |'

In [41]:
# s2.to_xarray()
# s2.to_timestamp()

In [42]:
s2

0    11
1    22
2    33
3    44
4    33
5    22
dtype: int64

In [43]:
s2.transpose()

0    11
1    22
2    33
3    44
4    33
5    22
dtype: int64

In [44]:
s2.T

0    11
1    22
2    33
3    44
4    33
5    22
dtype: int64

In [45]:
s2

0    11
1    22
2    33
3    44
4    33
5    22
dtype: int64

In [46]:
s2.interpolate()

0    11
1    22
2    33
3    44
4    33
5    22
dtype: int64

In [71]:
s2.is_monotonic_increasing

False

In [48]:
s3 = pd.Series([10, 9, 8, 7, 6])

s3.interpolate()

0    10
1     9
2     8
3     7
4     6
dtype: int64

In [49]:
s3.is_monotonic

C:\Users\Amma\AppData\Local\Temp\ipykernel_25316\1622692368.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  s3.is_monotonic

False

In [50]:
s3.is_monotonic_decreasing

True

In [51]:
s3.is_monotonic_increasing

False

In [52]:
s3.is_unique

True

In [53]:
s3.pad(axis=0)

0    10
1     9
2     8
3     7
4     6
dtype: int64

In [54]:
pd.date_range("2015-12-01 01:00:00", periods=7, freq="h")

DatetimeIndex(['2015-12-01 01:00:00', '2015-12-01 02:00:00',
               '2015-12-01 03:00:00', '2015-12-01 04:00:00',
               '2015-12-01 05:00:00', '2015-12-01 06:00:00',
               '2015-12-01 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [55]:
pd.date_range("2015-12-01 01:00:00", periods=7, freq="2h")

DatetimeIndex(['2015-12-01 01:00:00', '2015-12-01 03:00:00',
               '2015-12-01 05:00:00', '2015-12-01 07:00:00',
               '2015-12-01 09:00:00', '2015-12-01 11:00:00',
               '2015-12-01 13:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [56]:
pd.date_range("2015-12-01 01:00:00", periods=7, freq="6h")

DatetimeIndex(['2015-12-01 01:00:00', '2015-12-01 07:00:00',
               '2015-12-01 13:00:00', '2015-12-01 19:00:00',
               '2015-12-02 01:00:00', '2015-12-02 07:00:00',
               '2015-12-02 13:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [57]:
pd.date_range("2015-12-01 01:00:00", periods=7, freq="30min")

DatetimeIndex(['2015-12-01 01:00:00', '2015-12-01 01:30:00',
               '2015-12-01 02:00:00', '2015-12-01 02:30:00',
               '2015-12-01 03:00:00', '2015-12-01 03:30:00',
               '2015-12-01 04:00:00'],
              dtype='datetime64[ns]', freq='30T')

In [58]:
pd.date_range("2015-12-01 01:00:00", periods=7, freq="D")

DatetimeIndex(['2015-12-01 01:00:00', '2015-12-02 01:00:00',
               '2015-12-03 01:00:00', '2015-12-04 01:00:00',
               '2015-12-05 01:00:00', '2015-12-06 01:00:00',
               '2015-12-07 01:00:00'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range("2015-12-01 01:00:00", periods=7)  # default is day

DatetimeIndex(['2015-12-01 01:00:00', '2015-12-02 01:00:00',
               '2015-12-03 01:00:00', '2015-12-04 01:00:00',
               '2015-12-05 01:00:00', '2015-12-06 01:00:00',
               '2015-12-07 01:00:00'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range("2015-12-01 01:00:00", periods=7, freq="s")

DatetimeIndex(['2015-12-01 01:00:00', '2015-12-01 01:00:01',
               '2015-12-01 01:00:02', '2015-12-01 01:00:03',
               '2015-12-01 01:00:04', '2015-12-01 01:00:05',
               '2015-12-01 01:00:06'],
              dtype='datetime64[ns]', freq='S')

In [61]:
pd.date_range("2015-12-01 01:00:00", periods=7, freq="ms")

DatetimeIndex([       '2015-12-01 01:00:00', '2015-12-01 01:00:00.001000',
               '2015-12-01 01:00:00.002000', '2015-12-01 01:00:00.003000',
               '2015-12-01 01:00:00.004000', '2015-12-01 01:00:00.005000',
               '2015-12-01 01:00:00.006000'],
              dtype='datetime64[ns]', freq='L')

In [62]:
pd.date_range("2015-12-01 01:00:00", periods=7, freq="ns")

DatetimeIndex([          '2015-12-01 01:00:00',
               '2015-12-01 01:00:00.000000001',
               '2015-12-01 01:00:00.000000002',
               '2015-12-01 01:00:00.000000003',
               '2015-12-01 01:00:00.000000004',
               '2015-12-01 01:00:00.000000005',
               '2015-12-01 01:00:00.000000006'],
              dtype='datetime64[ns]', freq='N')