#### import library and loading IMDB data

In [1]:
import pandas as pd
from pathlib import Path

DATASETS_PATH = Path("../../../../datasets/")

In [2]:
df_imdb = pd.read_csv(Path(DATASETS_PATH / "IMDB_Movie.csv"))

#### select movie_title and duration columns

In [3]:
df_imdb = df_imdb[["movie_title", "duration"]]
df_imdb.head()

                                         movie_title  duration
0                                          Avatar \t     178.0
1          Pirates of the Caribbean: At World's End      169.0
2                                           Spectre      148.0
3                             The Dark Knight Rises      164.0
4  Star Wars: Episode VII - The Force Awakens    ...       NaN

### Find number of movie in this data set

In [4]:
df_imdb["movie_title"].count()

5043

### Calculate total duration for all movie

In [5]:
df_imdb["duration"].sum()

539007.0

### Calculate min, max, mean

In [6]:
df_imdb["duration"].min()

7.0

In [7]:
df_imdb["duration"].max()

511.0

In [8]:
df_imdb["duration"].mean()

107.2010739856802

In [9]:
df_imdb["duration"].describe()

count    5028.000000
mean      107.201074
std        25.197441
min         7.000000
25%        93.000000
50%       103.000000
75%       118.000000
max       511.000000
Name: duration, dtype: float64