In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"col1": [1, 2, 3, 4, 5], "col2": [0, 0, 0, 0, 0]})
print(df)

   col1  col2
0     1     0
1     2     0
2     3     0
3     4     0
4     5     0

In [3]:
df["col3"] = df["col1"].map(lambda x: x * 10)
df

   col1  col2  col3
0     1     0    10
1     2     0    20
2     3     0    30
3     4     0    40
4     5     0    50

In [4]:
df["col3"] = df["col1"].apply(lambda x: x * 10)  # works same as map
df

   col1  col2  col3
0     1     0    10
1     2     0    20
2     3     0    30
3     4     0    40
4     5     0    50

In [5]:
df["col4"] = df["col3"].map(lambda x: 30 if x < 30 else x)
df

   col1  col2  col3  col4
0     1     0    10    30
1     2     0    20    30
2     3     0    30    30
3     4     0    40    40
4     5     0    50    50